
@{
    ViewData["Title"] = "Error";
}

<h2>Error!</h2>
<h3>Cannot Process the Transaction</h3>
<div>
    Please <a asp-area="" asp-controller="Customer" asp-action="Index"><strong>Try Again</strong></a> later.
</div>

